<div class="container">
  <h1>メニュー</h1>
  
  <div class="menu-list">
    <%= link_to word_tags_path, class: "menu-item" do %>
      <h2>単語タグマスタ</h2>
      <p>タグの新規登録、検索、修正、削除</p>
    <% end %>
    
    <div class="menu-list">
      <%= link_to words_path, class: "menu-item" do %>
      <h2>単語マスタ</h2>
      <p>単語の登録、検索、CSV出力</p>
    <% end %>
    </div>
    
    <div class="menu-item disabled">
      <h2>問題集</h2>
      <p>クイズ機能</p>
      <span class="badge">準備中</span>
    </div>
  </div>
</div>